* {
    font-family: 'Noto Sans TC', sans-serif;
}

.title-area {
    text-align: center;
    margin: 2% 0 3%;
}

.addUserBtn {
    text-align: center;
    padding: 2%;
}

.addUserBtn a {
    letter-spacing: .3rem;
    margin: auto;
}

.pagination {
    text-align: center;
    z-index: -100;
}

.p-fixed {
    position: fixed;
}

.p-absolute {
    position: absolute;
}

.mainArea {
    display: flex;
    justify-content: center;
    z-index: 10;
}

#app {
    height: 100vh;
}

mainArea__form {
    margin: auto;
}

.d-flex-center {
    display: flex;
    justify-content: center;
}

.ml-1 {
    margin-left: 1rem;
}

.mainArea__form-close {
    position: absolute;
    right: -8%;
    top: -4%;
}

.mainArea__form {
    top: 20%;
}

.last-next-page {
    font-size: 2rem;
}

.pageList__item {
    font-size: 1.5rem;
    padding: .6rem;
    margin: 0 .25rem;
}

/*.pageList__item-choose {*/
/*    background-color: #e57373;*/
/*    color: white;*/
/*    border-radius: .3rem;*/
/*}*/

.pageList li:hover {
    color: #e57373;
}

.pageList li {
    vertical-align: center;
    line-height: .8rem;
    cursor: pointer;
}

.pageList__first-last-items {
    font-size: 1.2rem;
    padding: .5rem;
}

.editItem {
    cursor: pointer;
}

.editItem:hover {
    color: #e57373;
}

.mainArea__form-title {
    text-align: center;
    font-size: 2rem;
}

.add-userform-background {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.add-userform-content {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
}

.edit-userform-background {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.edit-userform-content {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
}

.validRecommend {
    font-size: .5rem;
}

.tel-valid-recommend{
    text-align: center;
}